header {
    height: 100px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 10px solid #888;
}

/* ------- BODY ---------*/

header img{
    float: left;
    margin: 25px auto 25px auto;
}

header ul {
    display: inline-block;
    margin-top: 25px;
    margin-left: 10px;
}

header p {
    float: right;
}

header li:last-child{
    font-size: 10px;
    font-family: 'Abel', sans-serif;
}

#logo{
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
}

#socialMedia {
    float: right;
}

#socialMedia img{
    margin: 40px 1px 40px 0px;
}

#socialMedia #rss{
    margin-left:10px;
}

/*-----------FOOTER-----------*/
footer{
    padding: 25px 0px 25px 0px;
    height: 200px;
    width: 60%;
    border-top: 10px solid #888;
    margin: 20px auto 20px auto;
}

footer ul{
    margin-left: 15px;
    display: inline-block;
    font-family: 'Abel', sans-serif;
}

footer li:last-child{
    width: 450px;
}

#name{
    font-family: 'Zilla Slab', serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}
footer img{
    float: left;
}

footer button{
    padding: 10px 40px 10px 40px;
    font-family: 'Abel', sans-serif;
    color: white;
    background: maroon;
    float: right;
    font-size: 20px;
}

section{
    margin: 50px auto 50px auto;
    text-align: center;
    font-size: 10px;
    color: grey;
}

#slogo{
    padding-top: 50px;
    padding-left: 50%;
    width: 100%;
}

section p{
    margin: 5px auto 5px auto;
}